#titles__main-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 1;
    height: auto;
    background: #111457 0% 0% no-repeat padding-box;
}