$primary-color: #2E4053;
$secondary-color: #D7DFE4;
$thid-color: #98AFBC;



$black: #000000;
$main-gradient: transparent linear-gradient(196deg, #00000000 0%, #000000 100%, #000000 100%) 0% 0% no-repeat padding-box;

$small: 414px;
$medium: 1195px;